:root {
    --color1: #d1cb95;
    --color1L: #e7e2b7;
    --color2: #40985e;
    --color3: #1a644e;
    --color4: #04373b;
    --color5: #0a1a2f;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--color3), var(--color2));
    color: var(--color4);
}

header {
    background: var(--color4);
    color: var(--color2);
    padding: 1px 0;
    text-align: center;
    box-shadow: 0px 0px 120px var(--color2);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: var(--color2);
    text-decoration: none;
    padding: 1.1%;
}

.main {
    width: 100%;
}

section {
    padding: 1em 2rem;
    max-width: 50%;
    margin: 20px auto;
    background-color: var(--color1);
    background: linear-gradient(to top, var(--color1), var(--color1));
    border-radius: 12px; 
    box-shadow: 3px 3px 8px var(--color5);
    width: 100%;
}

h2 {
    margin-bottom: 1em;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    width: auto;
    justify-content: center;
    padding-bottom: 4em;
}

.projectSection h2{
    text-align: center;
}

.project {
    background-color: var(--color1L);
    padding: 1.5rem;
    border-radius: 10px;
    margin: auto;
    min-width: 50px;
    max-width: 80%;
    width: auto;
    box-shadow: 0px 0px 8px var(--color5);
}

.project h3 {
    margin-top: 5px;
}

.project p {
    width: auto;
    overflow-wrap: anywhere;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: var(--A2);
    color: var(--MAINC);
    width: 100%;
    bottom: 0;
}
